# Web frameworks
flask
fastapi
uvicorn
jinja2

# Zoom & OAuth
requests
python-dotenv
authlib

# Azure Storage
azure-storage-blob
azure-cognitiveservices-speech==1.38.0

# OpenAI
openai

# Email (Brevo)
httpx

# PostgreSQL
psycopg2-binary
sqlalchemy
alembic
pydub

# Tools & Utilities
python-multipart
pydantic
aiofiles
python-dateutil

#auth
flask-login
werkzeug
